ไฟล์ style.css

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0a0a0a;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

.envelope{
    width:350px;
    background:white;
    color:black;
    padding:30px;
    border-radius:20px;
    text-align:center;
    cursor:pointer;
    box-shadow:0 0 30px rgba(255,255,255,.15);
    transition:.3s;
}

.envelope:hover{
    transform:scale(1.03);
}

.avatar{
    width:140px;
    height:140px;
    object-fit:cover;
    border-radius:50%;
    margin-bottom:15px;
}

.letter{
    display:none;
    width:90%;
    max-width:550px;
}

.card{
    background:white;
    color:black;
    padding:40px;
    border-radius:20px;
    text-align:center;
}

.card h2{
    margin:20px 0;
}

.card p{
    margin-bottom:20px;
    line-height:1.7;
}

input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:10px;
    margin-top:10px;
}

.buttons{
    margin-top:20px;
}

button{
    border:none;
    padding:12px 30px;
    margin:8px;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
}

.yes{
    background:black;
    color:white;
}

.no{
    background:#dcdcdc;
}